*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: courgette, sans-serif;
    font-size: 18px;
    list-style: none;
    text-decoration: none;
}

body{
    background-image: url(./pictures/background.jpg);
    background-position: center top;
    display: flex;
}

header{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(183, 210, 255);
    height: 5em;
    width: 100%;
    border: 0.5em;
    border-style: solid;
    border-color: rgb(227, 175, 179);
}

header h1{
    font-family: courgette, animal;
    font-size: 1.5em;
}

.click{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 223, 174);
    width: 15em;
    height: 10em;
    font-size: 2em;
    margin: auto;
    margin-top: 5em;
    border-style: solid;
    border-color: rgb(183, 210, 255);
    border-width: 0.2em;
    border-radius: 1em;
}

.happy{
    display: none;
    text-align: center;
    background-color: rgb(255, 223, 174);
    width: 15em;
    height: 20em;
    font-size: 2em;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 2em;
    border-style: solid;
    border-color: rgb(183, 210, 255);
    border-width: 0.2em;
    border-radius: 1em;
    overflow: hidden;
}

.happy p{
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.happy img{
    width: 100%;
}

footer{
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(183, 210, 255);
        height: 5em;
        width: 100%;
        border: 0.5em;
        border-style: solid;
        border-color: rgb(227, 175, 179);
        margin-top: 2em;
    }

